<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="p3at_tutorial">

<xacro:include filename="$(find p3at_tutorial)/robots/pioneer3at_body.xacro"/>

<xacro:include filename="$(find pr2_description)/urdf/common.xacro" />
<xacro:p3at_front suffix="left" reflect="1"/>
<xacro:p3at_front suffix="right" reflect="-1"/>
<xacro:p3at_back suffix="left" reflect="1"/>
<xacro:p3at_back suffix="right" reflect="-1"/>

 <xacro:p3at_gazebo_ext/> 


</robot>
