<?xml version="1.0"?>
<launch>
    <param name="robot_description" command="$(find xacro)/xacro.py $(find p3at_tutorial)/robots/pioneer3at.xacro" />

    <!-- send fake joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="TRUE"/>
    </node>

    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    <!-- Show in Rviz   -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find p3at_tutorial)/launch/display.rviz"/>  
    <node name="laser" pkg="urg_node" type="urg_node">
        <param name="frame_id" value="hokuyo_link" />
    </node>
</launch>
